body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
display: flex;
position: fixed;
justify-content: space-between;
align-items: center;
height: 69px;
border-bottom: 1px solid seashell;
width: 100%;
z-index: 1;
background-color: black;
top: 0;
}

.logoimage {
  padding-left: 10px;
}

nav {
  display: flex;
  justify-content:space-around;
  width: 400px;
}

nav span {
  text-decoration: underline;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70px;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: auto;
}

.missiontext {
  background-color: black;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  justify-content: center;
  margin: auto;
  align-items: center;
  position: relative;
  top: 70px;
}

.firstrow {
  display: flex;
  justify-content: space-around;
  width: 1000px;
}

.secondrow {
  display: flex;
  justify-content: space-around;
  width: 675px;
}

h2 {
  margin-bottom: 0px;
}

h4.overviewtext {
  margin-top: 10px;
}

h4.pictext {
  margin-top: 10px;
}

.locationscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/img-locations-background.jpg");
  position: relative;
  top: 70px;
  width: 1200px;
  height: 500px;
  margin: auto;
}

h2.locationstext {
  margin-bottom: 15px;
}

.addresses {
  display: flex;
  width: 980px;
  justify-content: space-between;
}

.address {
    background-color: black;
    width: 300px;
    opacity: 1;
}

.footer {
  position: relative;
  top: 70px;
  display: flex;
  flex-direction: column;
}

.footer h5 {
  margin: 15px;
}

.copyright h5 {
  text-align: left;
  margin-left: 20px;
}
